/*
 * Tweaks and overrides to hyde.css
 */

.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "Abril Fatface", serif;
  font-size: 2.5rem;
}

.sidebar-nav {
  padding-left: 0;
  list-style: none;
  margin-bottom: 1rem;
}

  .sidebar-nav li {
    display: inline;
  }
  .sidebar-nav li:not(:first-child) {
    padding-left: 0.5em;
  }
  .sidebar-nav li:not(:first-child):before {
      content: '\b7\a0\a0'; /* \b7 is a middot, \a0 is a space */
  }

@media (min-width: 48em) {
  .sidebar-nav li {
    display: block;
  }
  .sidebar-nav li:not(:first-child) {
    padding-left: 0;
  }
  .sidebar-nav li:not(:first-child):before {
    content: '';
  }
}
